<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>La chaine du pilote JDBC utilisé pour se connecter à la BD.</description>
        <param-name>piloteJdbc</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <description>L'URL de la BD pour les connexions JDBC.</description>
        <param-name>urlBd</param-name>
        <param-value>jdbc:mysql://localhost/chess?user=root</param-value>
    </context-param>
    <listener>
        <listener-class>com.STI.web.ApplicationListener</listener-class>
    </listener>
    <!-- Contrôleur frontal -->
    <servlet>
        <servlet-name>controleur</servlet-name>
        <servlet-class>com.STI.servlet.frontController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>controleur</servlet-name>
        <url-pattern>*.exe</url-pattern>
    </servlet-mapping>
    <!-- Servlet Login -->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.STI.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <!-- Servlet Logout -->
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.STI.servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <!-- Servlet Play -->
    <servlet>
        <servlet-name>play</servlet-name>
        <servlet-class>com.STI.servlet.play</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>play</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>
    <!-- Servlet Refresh -->
    <servlet>
        <servlet-name>refresh</servlet-name>
        <servlet-class>com.STI.servlet.Refresh</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>refresh</servlet-name>
        <url-pattern>/refresh</url-pattern>
    </servlet-mapping>
    <!-- Servlet Subscription -->
    <servlet>
        <servlet-name>subscription</servlet-name>
        <servlet-class>com.STI.servlet.Subscription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>subscription</servlet-name>
        <url-pattern>/subscribe</url-pattern>
    </servlet-mapping>
    <!-- Servlet Request -->
    <servlet>
        <servlet-name>invitePlayer</servlet-name>
        <servlet-class>com.STI.servlet.Request</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>invitePlayer</servlet-name>
        <url-pattern>/invitePlayer</url-pattern>
    </servlet-mapping>
    <!-- Servlet ShowProfile -->
    <servlet>
        <servlet-name>showProfile</servlet-name>
        <servlet-class>com.STI.servlet.AfficherProfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showProfile</servlet-name>
        <url-pattern>/showProfile</url-pattern>
    </servlet-mapping>
    <!-- Servlet UpdateProfile -->
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>com.STI.servlet.ProfilUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <!-- Servlet Game -->
    <servlet>
        <servlet-name>game</servlet-name>
        <servlet-class>com.STI.servlet.Game</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>game</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>
    <!-- Servlet launchGame -->
    <servlet>
        <servlet-name>launchGame</servlet-name>
        <servlet-class>com.STI.servlet.LaunchGame</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>launchGame</servlet-name>
        <url-pattern>/launchGame</url-pattern>
    </servlet-mapping>
    <!-- Servlet updateGame -->
    <servlet>
        <servlet-name>updateGame</servlet-name>
        <servlet-class>com.STI.servlet.UpdateGame</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateGame</servlet-name>
        <url-pattern>/updateGame</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
