<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>La chaine du pilote JDBC utilisé pour se connecter à la BD.</description>
        <param-name>piloteJdbc</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <description>L'URL de la BD pour les connexions JDBC.</description>
        <param-name>urlBd</param-name>
        <param-value>jdbc:mysql://localhost/chess?user=root</param-value>
    </context-param>
    <listener>
        <listener-class>com.STI.web.ApplicationListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>controleur</servlet-name>
        <servlet-class>com.STI.servlet.frontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.STI.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectUser</servlet-name>
        <servlet-class>com.STI.servlet.ConnectUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>play</servlet-name>
        <servlet-class>com.STI.servlet.play</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Refresh</servlet-name>
        <servlet-class>com.STI.servlet.Refresh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.STI.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subscription</servlet-name>
        <servlet-class>com.STI.servlet.Subscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>com.STI.servlet.Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherProfil</servlet-name>
        <servlet-class>com.STI.servlet.AfficherProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilUpdate</servlet-name>
        <servlet-class>com.STI.servlet.ProfilUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invit</servlet-name>
        <servlet-class>com.STI.servlet.Invit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Game</servlet-name>
        <servlet-class>com.STI.servlet.Game</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controleur</servlet-name>
        <url-pattern>*.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>play</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Refresh</servlet-name>
        <url-pattern>/Refresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectUser</servlet-name>
        <url-pattern>/ConnectUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subscription</servlet-name>
        <url-pattern>/Subscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invit</servlet-name>
        <url-pattern>/Invit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherProfil</servlet-name>
        <url-pattern>/AfficherProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilUpdate</servlet-name>
        <url-pattern>/ProfilUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Game</servlet-name>
        <url-pattern>/Game</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
